<div id="full-screen-loader" 
     class="fixed inset-0 z-50 bg-gray-900 bg-opacity-70 flex items-center justify-center hidden">
    
    <div class="flex-col gap-4 flex items-center justify-center">
        <div
            class="w-16 h-16 border-4 border-transparent animate-spin flex items-center justify-center border-t-indigo-400 rounded-full"
        >
            <div
                class="w-10 h-10 border-4 border-transparent animate-spin flex items-center justify-center border-t-red-400 rounded-full"
            ></div>
        </div>
        <p class="mt-4 text-white text-lg font-semibold">Đang xử lý đăng nhập...</p>
    </div>
</div>